# LISTS

# Python programming Day 3

In [2]:
ls1=[]    #empty list

In [4]:
type(ls1)

list

In [8]:
ls2=[10, 20, -4, 12, 3.5]
print(ls2)
print('Type is:', type(ls2))

[10, 20, -4, 12, 3.5]
Type is: <class 'list'>

In [10]:
ls3=[3.5, 4, 'hi',[66, 'hello']]
print(ls3)

[3.5, 4, 'hi', [66, 'hello']]

In [12]:
type(ls3)

list

In [14]:
print(ls3[0])         #indexing the elements

3.5

In [16]:
print(ls3[3])         #indexing the elements

[66, 'hello']

In [18]:
print(ls3[3][0])      #print 1st element of inner list

66

In [27]:
print(ls3[3][1])      #print 2st element of inner list

hello

In [28]:
print(ls3[3][1][0])

h

In [3]:
ls=list(range(0,20,2))              #even numbers ranging method
print(ls)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
ls=list(range(1,20,2))          #oddd number ranging method
print(ls)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [1]:
st=int(input('enter a number:'))    #table of any number
for i in range (1,11):
    print(st*i)

enter a number:45
45
90
135
180
225
270
315
360
405
450

In [124]:
x=int(input('enter a number:'))
ls=[]
for i in range (1,11):
    ls=ls+ [x*i]
print(ls)

enter a number:5
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [17]:
# Repetition using *
ls=[1,2,3]
ls1=ls*3
print(ls1)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
#list Slicing
t=['a' , 'b' , 'c' , 'd' , 'e']
print(t[2:4])
print(t[:3])
print(t[1:])
print(t[:])
print(t[:-2])
print(t[::-1])

['c', 'd']
['a', 'b', 'c']
['b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c']
['e', 'd', 'c', 'b', 'a']

In [26]:
q=['5' , '10' , '15' ,'hello', 'wow', '3.5']
print(q[3:][1][2])
print(q[::-1])
print(q[::-3])

w
['3.5', 'wow', 'hello', '15', '10', '5']
['3.5', '15']

In [30]:
#list are mmutable
t=['a','b','c','d','e','f']
t[5]=55
print(t)

['a', 'b', 'c', 'd', 'e', 55]

# LIST METHODS

In [54]:
ls=[1,2,3]                                     #APPEND OR EXTEND FUNTION
x = ls.append(4) 
print(ls)
print(x)

[1, 2, 3, 4]
None

In [48]:
ls1=[1,2,3]
ls2=[5,6]
ls2.extend(ls1)
print(ls2)

[5, 6, 1, 2, 3]

In [49]:
ls1=[1,2,3]
ls2=[5,6]
ls2.append(ls1)
print(ls2)

[5, 6, [1, 2, 3]]

In [64]:
#Sorting a list          #sorting in increasing order
ls=[4, 12, -3, 5, 45, 13, 0,1,]
ls.sort()
print(ls)

[-3, 0, 1, 4, 5, 12, 13, 45]

In [66]:
ls=[4, 12, -3, 5, 45, 13, 0,1,]      #sorting in decreasing order
ls.sort(reverse=True)
print(ls)

[45, 13, 12, 5, 4, 1, 0, -3]

In [76]:
#sorting without modifying original object
ls=[4, 12, -3, 5, 45, 13, 0,1,]
ls3=sorted(ls)
print('Sorted list: ' , ls3)
print('Original list: ' , ls)

Sorted list:  [-3, 0, 1, 4, 5, 12, 13, 45]
Original list:  [4, 12, -3, 5, 45, 13, 0, 1]

In [74]:
ls=[4, 12, -3, 5, 45, 13, 0,1,]
ls2=sorted(ls,reverse=True)
print('Sorted list: ' , ls2)
print('Original list: ' , ls)

Sorted list:  [45, 13, 12, 5, 4, 1, 0, -3]
Original list:  [4, 12, -3, 5, 45, 13, 0, 1]

In [78]:
print('Original:' , ls)
print('Ascending:' , ls3)
print('descending:' , ls2)

Original: [4, 12, -3, 5, 45, 13, 0, 1]
Ascending: [-3, 0, 1, 4, 5, 12, 13, 45]
descending: [45, 13, 12, 5, 4, 1, 0, -3]

In [80]:
#Reverse a list
ls=[1,2,3]
ls.reverse()
print(ls)

[3, 2, 1]

In [82]:
# Deleting elements from the list:     #last element will popped out
ls=[1,2,3,4,5,6,7,8,9]
x=ls.pop()
print(x)

9

In [84]:
ls=[1,2,3,4,5,6,7,8,9]              #given indexed will be popped out
x=ls.pop(3)
print(x)

4

In [98]:
#delete a required elements using remove()
ls=[1,2,3,4,5,'hello',6,9,8]
ls.remove('hello')
print(ls)
print(X)

[1, 2, 3, 4, 5, 6, 9, 8]
hello

In [100]:
ls=[1,2,3,4,5,'hello',6,9,8]
del ls[2]
print(ls)
print(X)

[1, 2, 4, 5, 'hello', 6, 9, 8]
hello

In [102]:
ls=[1,2,3,4,5,'hello',6,9,8]       #CLEAR=TO REMOVE ALL ELEMENTS FROM A LIST
ls.clear()
print(ls)

[]

In [106]:
ls=[1,2,3,4,5,'hello',6,9,8,1,3,'hello']           #TO COUNT NUMBER OF OCCURSNCE OF AN ITEM IN THE LIST
ls.count('hello')

2

In [108]:
ls=[1,2,3,4,5,'hello',6,9,8]                       #Returns a copy of a list.
ls1=ls.copy()
print(ls1)

[1, 2, 3, 4, 5, 'hello', 6, 9, 8]

# COPYING ONE OBJECT INTO OTHER

In [116]:
ls=[1,2,3]
ls1=ls
#ls1=ls.copy()        #modifying ls1 will reflect ls also #use copy() function to avoid the problems
ls1[1]=4
print(ls)
print(ls1)
print(id(ls))
print(id(ls1))
ls1[2]=10           #
print(ls1)

[1, 4, 3]
[1, 4, 3]
2306827189000
2306827189000
[1, 4, 10]

In [118]:
#inserting single element at a required position
ls=[1,20,56,12,-3.5]
ls.insert(3,55)
print(ls)

[1, 20, 56, 55, 12, -3.5]

In [120]:
ls=[1,20,56,12,-3.5]      #another example
ls.insert(3,'hello')
print(ls)

[1, 20, 56, 'hello', 12, -3.5]

In [121]:
#UTILITY FUNCTIONS ON LISTS

In [123]:
ls=[12,354,-4,5,55,666,1278]
print(max(ls))
print(min(ls))
print(sum(ls))
print(len(ls))

1278
-4
2366
7

In [126]:
#Converting a string into list of characters
s="Hello"
ls=list(s)
print(ls)

['H', 'e', 'l', 'l', 'o']

In [128]:
#Examples: spliting a date into dd,mm and yyyy
d='06/02/2018'
ls=d.split('/')
print(ls)

['06', '02', '2018']

In [5]:
ls=['hello', 'how', 'are', 'you']            #for combiniting the strings in given list
s=' '
s.join(ls)

'hello how are you'

# Que=Read an expression check whwether it is well -bracketed Return true,if the expression is well bracketed,otherwise,return false.Example="(a+b)" is TRUE,"(a+(b*c)-d=TRUE,"(a+ "=FALSE,????

In [11]:
def wellbracketed(s):
    depth=0
    for i in s:
        if i =='(':
            depth+=1
        elif i==')':
            depth-=1
            
        if depth<0:
            return False
        
    if depth==0:
        return True
    else:
        return False
        
string=input("Enter the string")
x=wellbracketed('string')
print(x)

Enter the string(a+
True

In [2]:
#Consider the following Python Function:


def mystery(ls):
    if len(ls) < 2:
        return(ls)
    else:
        return (mystery(ls[1:1]) + [ls[0]])
    x=[17,12,41,28,25]
    print(x)

In [3]:
def rotatelist(l,k):
    mylist=l[:]
    for i in range(0,k):
        mylist=[mylist[-1]] + mylist[0:-1]
    return (mylist)
x=[1,2,3,4,5]
y=int(input('Enter value of k'))
rotatelist(x,y)

Enter value of k5

[1, 2, 3, 4, 5]

In [2]:
def f(value, values):
    v=1
    values[0] = 55
t=3
v=[1,2,3]
f(t,v)
print(t,v[0])

3 55

In [8]:
a=[1,2,3,4,5,6,7,8,9]
a[::2]=10,20,30,40,50
print(a)

[10, 2, 20, 4, 30, 6, 40, 8, 50]