In [2]:
#Creating a simple set?


st={'Apple', 'Banana', 'Orange'}
print(type(st))

<class 'set'>

In [4]:
#add element to set

print(st)

{'Banana', 'Apple', 'Orange'}

In [6]:
st.add('Cherry')
print(st)

{'Banana', 'Apple', 'Orange', 'Cherry'}

In [18]:
#remove element to set
st={'Apple', 'Banana', 'Orange'}
st.remove('Banana')
print(st)

{'Apple', 'Orange'}

In [20]:
#adding more then one element at a time?
st={'Apple', 'Banana', 'Orange'}
st.update(['Cherry' , 'Papaya'])
print(st)

{'Apple', 'Banana', 'Cherry', 'Papaya', 'Orange'}

In [24]:
#Sets will not allow duplication of data elements:
st={'Apple', 'Banana', 'Orange','Banana'}
print(st)

{'Banana', 'Apple', 'Orange'}

In [3]:
#Write a program to eleiminate repeated entries in a list and keep single copu of each element.
ls=[1,23,5,6,4,8,9,7,6,2,1,4,5,6,2,0,9,5,4,8,7,]
ls=list(set(ls))
print(ls)

[0, 1, 2, 4, 5, 6, 7, 8, 9, 23]

# lambda Function

In [5]:
x=lambda a:a+10
print(x(15))

25

In [7]:
#lambda function with two arguments

x=lambda a,b:a*b
print(x(10,20))
print(x(4,5))
print(x(2,5))

200
20
10

In [9]:
def myfunc(n):
    return lambda a:a*n
mydoubler = myfunc(2)     #myfunc() returns Lambda function statement
mytripler=myfunc(3)

print(mydoubler(2))       #argument a in lambda function takes 2 now
print(mytripler(3))

4
9

In [15]:
def histogram(l):
    ls=[]
    for i in l:
        ls.append((i,l.count(i)))
        
    ls=list(set(ls))
    ls.sort(key=lambda x:(x[1],x[0]))
    
    print(ls)
    
histogram([13,12,11,13,14,1,7,7,14,12])

[(1, 1), (11, 1), (7, 2), (12, 2), (13, 2), (14, 2)]

In [18]:
#map(), reduce(),filter()

#lambda function with filter() to get only even number

ls=[5,7,22,97,88,54,66,22,44,15,1,3,9,7]
final_list= list(filter(lambda x: (x%2 ==0) , ls))
print(final_list)

[22, 88, 54, 66, 22, 44]

In [1]:
#extraxt a words from a string which are starting with 'h'
s=input('enter a string:')
ls=s.split()
ls1=list(filter(lambda x: (x.startswith('h')), ls))
print(ls1)

enter a string:hello how are you
['hello', 'how']

In [4]:
#extract a words from a string whose lenth is 3?
s=input('enter a string:')
ls=s.split()
ls1=list(filter(lambda x: len(x)==3, ls))
print(ls1)

enter a string:usa india uk ger
['usa', 'ger']

In [6]:
#lambda function with map()

ls=[5,7,22,97,54,62,77,23,73,61]
final_list= list(map(lambda x:x*2, ls))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [7]:
#converting list of strings into uppercase using map()

ls=['hi' , 'hello' , 'how' , 'world']

In [9]:
#Lambda function with reduce
from functools import reduce
ls=[5,8,10,20,50,100]
sum=reduce((lambda x,y: x+y) , ls)
print(sum)

193

In [11]:
a='1','2'
b=('3','4')
print(a+b)

('1', '2', '3', '4')

In [4]:
init_tuple_d= 1,2
init_tuple_f= (3,4)
[print(sum(x)) for x in [init_tuple_d + init_tuple_f]]

10

[None]

In [5]:
triples=[x,y,z]

NameError: name 'x' is not defined

In [11]:
#QUESTION:-
ls=(coursecode,coursename)={('MA101','CALCULUS'),('PH101','MECHANICS'),('HU101','ENGLISH')}
ls1=(rollnumber,name)={('UGM2018001' , 'ROHIT GREWAL') , ('UGP2018132' , 'NEHA TALWAR')}
triples=[('UGM2018001', 'MA101' , 'AB') , ('UGP2018132' , 'PH101', 'B') , ('UGM201801' , 'PH101' , 'B)]
print(ls)

SyntaxError: EOL while scanning string literal (<ipython-input-11-0c5616f2499d>, line 4)