# Tuples

# Demonstration of simple topics

In [6]:
t=()
print(type(t))

<class 'tuple'>

In [4]:
t1=tuple()
print(type(t1))

<class 'tuple'>

In [8]:
t=(12,35,-4,'hello',0,3.5)
print(t)

(12, 35, -4, 'hello', 0, 3.5)

In [17]:
#Create tuple with single element?
t=(3)
print(type(t))

<class 'int'>

In [16]:
t=(3,)
print(type(t1))

<class 'tuple'>

In [19]:
t=1,2,3,5,9
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 5, 9)

In [22]:
t=tuple('hello')      #creating tuple using string!!
print(t)

('h', 'e', 'l', 'l', 'o')

In [26]:
ls=[12,3,-5,'hello',[5,9],88]    #creating tuple using list!!!!
print(ls)

[12, 3, -5, 'hello', [5, 9], 88]

In [28]:
#creating a tuple from another tuple?
t1=23,34,45,67,89
print('t1 is', t1)
print('ID is: ' , id(t1))
t2=tuple(t1)
print('t2 is', t2)
print('ID is: ' , id(t2))

t1 is (23, 34, 45, 67, 89)
ID is:  2926651439944
t2 is (23, 34, 45, 67, 89)
ID is:  2926651439944

In [33]:
#Indexing and slicing on tuples???


t='Mango' , 'Banana' , 'Apple'
print(t[1])
print(t[1:])
print(t[:-1])
print(t[::-1])

Banana
('Banana', 'Apple')
('Mango', 'Banana')
('Apple', 'Banana', 'Mango')

In [37]:
#As tuples are immutable , one cannot alter its content
#Instead,we can slice and create new tuple

t=('Mango' , 'Banana' , 'Apple')
#t[0]='Papaya'      Error!!!

t=('papaya',) + t[1:]
print(t)

('papaya', 'Banana', 'Apple')

In [39]:
#Assigning list to tuples
ls=[3,4]
x,y=ls
print(x)
print(y)

3
4

In [41]:
x,y=10,20
print(x)
print(y)

10
20

In [44]:
#swaping of two numbers???
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [46]:
#excess value assignment
x,y,z=10,20

ValueError: not enough values to unpack (expected 3, got 2)

In [48]:
#Getting User Name and Domain Name from Email ID??
email='vishal.9310@gmail.com'
userName, domainName=email.split('@')
print('User name is:' , userName)
print('Domain name is:' , domainName)

User name is: vishal.9310
Domain name is: gmail.com

# Dictionaries and Tuples

In [50]:
d={'a':10, 'b':20, 'c':30}
t=list(d.items())
print(t)

[('a', 10), ('b', 20), ('c', 30)]

In [52]:
d={'Tom': 3491, 'Jerry':81350, 'Donald':2102, 'MIckey':9012}
ls=list(d.items())
print('Original list:\n' ,ls)
ls.sort()
print('Sorted list:\n' ,ls)

Original list:
 [('Tom', 3491), ('Jerry', 81350), ('Donald', 2102), ('MIckey', 9012)]
Sorted list:
 [('Donald', 2102), ('Jerry', 81350), ('MIckey', 9012), ('Tom', 3491)]

In [62]:
#Write a program to sort wordds of a given sentence from longest to smallest?
s=input('Enter a sentence')
ls=s.split(' ')
ls.sort(key=len)
print(ls)

Enter a sentences
['s']

In [70]:
#anaother way of doing longest to smallest words!!!!!!
txt='ram and seeta went to forest with lucky'
words = txt.split()
t = list()
for word in words:
    t.append((len(word) , word))
    
print('The list is :' ,t)
t.sort(reverse=True)
res = list()
for lenght,word in t:
    res.append(word)
print('the sorted list:',res)

The list is : [(3, 'ram'), (3, 'and'), (5, 'seeta'), (4, 'went'), (2, 'to'), (6, 'forest'), (4, 'with'), (5, 'lucky')]
the sorted list: ['forest', 'seeta', 'lucky', 'with', 'went', 'ram', 'and', 'to']

In [6]:
##find the trending word and remove all string punchuation?
import os,sys
fname=input('enter a file name')
if os.path.isfile(fname):
    print('File exists',fname)
    f=open(fname)
else:
    print("file not exist",fname)
    sys.exit()
linecount=charcount=wordcount=0
for line in f:
    linecount+=1
    charcount+=len(line)
    ls=line.split()
    wordcount+=len(ls)
    
print('Number of line=',linecount)
print('Number of word=',wordcount)
print('Number of characters=',charcount)

enter a file namevishal.txt
File exists vishal.txt
Number of line= 217
Number of word= 792
Number of characters= 8353

NameError: name 'fread' is not defined